<!-- ROW 2 -->
<div class="row anim-in-out {{ctrl.mainViewStyle}}"
     data-anim-sync="{{ctrl.sync}}"
     data-anim-speed="{{ctrl.speed}}"
     ng-style="{
                                '-webkit-transition-duration': ctrl.speed + 'ms',
                                '-moz-transition-duration': ctrl.speed + 'ms',
                                '-ms-transition-duration': ctrl.speed + 'ms',
                                '-o-transition-duration': ctrl.speed + 'ms',
                                'transition-duration': ctrl.speed + 'ms'
                            }">
    <div class="col-lg-12">
        <!-- BOX -->
        <div class="box border purple">
            <div class="box-title">
                <h4><i class="fa fa-table"></i>用户列表</h4>
                <div class="tools hidden-xs">
                    <a href="#box-config" data-toggle="modal" class="config">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a href="javascript:;" class="reload">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a href="javascript:;" class="collapse">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a href="javascript:;" class="remove">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-1 control-label">用户名</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" placeholder="Username">
                        </div>

                        <label class="col-lg-1 control-label">真实姓名</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" placeholder="Username">
                        </div>

                        <label class="col-lg-1 control-label">身份证号</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                    </div>
                </form>
                <div class="box-button" style="border-bottom: 1px solid #9785c6">
                    <p class="btn-toolbar" style="text-align: right;margin-bottom: 2px;">
                        <button class="btn btn-danger">删除</button>
                        <button ng-click="openAddUserModel()" class="btn btn-primary">新增</button>
                        <button class="btn btn-primary" ng-click="queryUserlist()">查询</button>
                    </p>
                </div>
                <div class="" id="userPageResult">
                    {{pageOptions.userPage}}
                </div>
            </div>
        </div>
        <!-- /BOX -->
    </div>
</div>
<!-- ROW 2 -->