<!-- ROW 2 -->
<div id="addUserForm" class="row anim-in-out {{ctrl.mainViewStyle}}"
     data-anim-sync="{{ctrl.sync}}"
     data-anim-speed="{{ctrl.speed}}"
     ng-style="{
                                '-webkit-transition-duration': ctrl.speed + 'ms',
                                '-moz-transition-duration': ctrl.speed + 'ms',
                                '-ms-transition-duration': ctrl.speed + 'ms',
                                '-o-transition-duration': ctrl.speed + 'ms',
                                'transition-duration': ctrl.speed + 'ms'
                            }">
    <div class="col-lg-12">
        <!-- BOX -->
        <div class="box border purple" style="margin-bottom: 0">
            <div class="box-title">
                <h4><i class="fa fa-table"></i>用户列表</h4>
                <div class="tools hidden-xs">
                    <a href="#box-config" data-toggle="modal" class="config">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a href="javascript:;" class="reload">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a href="javascript:;" class="collapse">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a href="javascript:;" class="remove">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <form class="form-horizontal" id="addSysUserForm" role="form">
                    <div class="form-group">
                        <label class="col-lg-1 control-label">账号</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" ng-model="sysUser.username" placeholder="账号">
                        </div>
                        <label  class="col-lg-2 control-label control-label-left">*</label>

                        <label class="col-lg-1 control-label">真实姓名</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control"  ng-model="sysUser.name"  placeholder="真实姓名">
                        </div>
                        <label  class="col-lg-2 control-label control-label-left">*</label>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-1 control-label">性别</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" ng-model="sysUser.sex" placeholder="性别">
                        </div>
                        <label  class="col-lg-2 control-label control-label-left">*</label>

                        <label class="col-lg-1 control-label">卡类型</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control"  ng-model="sysUser.cardtype"  placeholder="卡类型">
                        </div>
                        <label  class="col-lg-2 control-label control-label-left">*</label>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-1 control-label">卡号</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" ng-model="sysUser.cardid" placeholder="卡号">
                        </div>
                        <label  class="col-lg-2 control-label control-label-left">*</label>

                        <label class="col-lg-1 control-label">邮箱</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control"  ng-model="sysUser.email"  placeholder="邮箱">
                        </div>
                        <label  class="col-lg-2 control-label control-label-left">*</label>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-1 control-label">手机号</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" ng-model="sysUser.mobilephone" placeholder="手机号">
                        </div>
                        <label  class="col-lg-2 control-label control-label-left">*</label>

                        <label class="col-lg-1 control-label">固话</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control"  ng-model="sysUser.telephone"  placeholder="固话">
                        </div>
                        <label  class="col-lg-2 control-label control-label-left">*</label>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-1 control-label">爱好</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" ng-model="sysUser.hobby" placeholder="爱好">
                        </div>
                        <label  class="col-lg-2 control-label control-label-left">*</label>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-1 control-label">备注</label>
                        <div class="col-lg-9">
                            <textarea rows="3" cols="5"  ng-model="sysUser.remarks" class="form-control" placeholder="备注"></textarea>
                        </div>
                        <label  class="col-lg-2 control-label control-label-left">*</label>
                    </div>
                </form>
                <div class="box-button" >
                    <p class="btn-toolbar" style="text-align: right;margin-bottom: 2px;">
                        <button ng-click="saveUser()" class="btn btn-primary">保存</button>
                        <button class="btn btn-primary" ng-click="cancel()">取消</button>
                    </p>
                </div>
            </div>
        </div>
        <!-- /BOX -->
    </div>
</div>
<!-- ROW 2 -->

<!--
<div class="modal-header" >
    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body" id="modal-body">
    <ul>
        <li ng-repeat="item in $ctrl.items">
            <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
        </li>
    </ul>
    Selected: <b>{{ $ctrl.selected.item }}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
</script>
<script type="text/ng-template" id="stackedModal.html">
        <div class="modal-header">
        <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
</div>
<div class="modal-body" id="modal-body-{{name}}">
        Having multiple modals open at once is probably bad UX but it's technically possible.
</div>-->
